body {
    text-align: center;
    font-family: sans-serif;
}
#background {
    background: rgb(36, 36, 36);
    background: radial-gradient(circle, rgb(61, 61, 61) 0%, rgba(72,72,73,1) 100%);
}
.BUTTON_UDS {
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #001691);
    background-image: -moz-linear-gradient(top, #FFFFFF, #000a96);
    background-image: -ms-linear-gradient(top, #FFFFFF, #0e008b);
    background-image: -o-linear-gradient(top, #FFFFFF, #0e008a);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: sans-serif;
    font-size: 25px;
    font-weight: 100px;
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 .BUTTON_UDS:hover {
    border: solid #FFFFFF 1px;
    background: #FFFFFF;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -moz-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -ms-linear-gradient(top, #FFFFFF, #FFFFFF);
    background-image: -o-linear-gradient(top, #FFFFFF, #FFFFFF);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }
#menu ul {
    padding:0px;
    margin:0px;
    background-color:#EDEDED;
    list-style:none;
}
#menu ul li { 
    display: inline; 
}
li.start {
    padding: 2px 10px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    font-weight: bold;
    margin-right: 60%;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a {
    padding: 2px 10px;
    display: inline-block;
    background-color:#EDEDED;
    color: #333;
    text-decoration: none;
    border-bottom:3px solid #EDEDED;
}
#menu ul li a:hover {
    background-color:#D6D6D6;
    color: #6D6D6D;
    border-bottom:3px solid #000000;
}
h1.tittle1 {
    text-align: center;
    font-family: sans-serif;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    font-size: 35px;
    margin: 0;
    margin-top: 20px;
}
h2 {
    text-align: center;
    font-family: sans-serif;
    font-size: 28px;
    color: white;
}
h2.table {
    text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    color: aliceblue;
    font-weight: bolder;
}
h3 {
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 22px;
    font-family: sans-serif;
}
h4{
    color: #FFFFFF;
    font-size: 16px;
}
h4.tittle1 {
    color: rgb(255, 255, 255);
    margin: 0;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
}
h6.value {
    color: rgb(0, 3, 187);
    text-align: center;
    font-size: 21px;
    font-weight: bold;
    font-family: sans-serif;
}
p.table {
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    font-family: sans-serif;
}
hr.top {
    color: white;
    background-color: white;
    width: 100%;
    height: 3px;
    border: 1;
}
table {
    width: 100% ;
}
table tr td{
    width: 50% ;
}
td.line {
    border-right: 1px solid rgb(255, 255, 255);
}
th.line {
    border-right: 1px solid rgb(255, 255, 255);
}
td.line2 {
    border-bottom: 1px solid rgb(255, 255, 255);
}
th.line2 {
    border-bottom: 1px solid rgb(255, 255, 255);
}

